body {
    width: 1000px;
    margin: auto;
}
img{
    display: inline-block;
}
header {
    background: linear-gradient(silver, white);
    width: 970px;
    height: auto;  
    display:flex;
    justify-content: space-between;
    padding: 15px;
}
header h1, h2 {
    padding: 0px;
    margin: auto 15px;
}
header h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}
header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
main {
    background: radial-gradient(rgba(60, 38, 55, 0.866), rgb(50, 15, 30));
    width: auto;
    height: 768px;
    padding: 20px;
}
main div{ 
    justify-content: space-between;
}
main div div{
    width: 500px;
    display: inline-block;
    vertical-align: top;
}
main div div h2{
    background: linear-gradient(white, grey);
    margin: 0;    
}
footer {
    background: linear-gradient(white, silver);
    width: 1000px;
    height: auto;
    text-align: center;
}
.centerTextinLine{
    text-align: center;
}
.gradSilverGreySilver {
    background: linear-gradient(silver, grey, silver);
}
.smallImage{
    width: 20px;
    height: 20px;
}
.mediumImage{
    width: 400px;
    border: 5px solid silver;
}