html{
    background-color: #0E0E0E;
}
body {
    width: 950px;
    margin: auto;
}
img{
    display: inline-block;
}
a:link{
    color: black;
}
header {
    background: linear-gradient(silver, white);
    width: 920px;
    height: auto;  
    display:flex;
    justify-content: space-between;
    padding: 15px;
}
header h1, h2 {
    padding: 0px;
    margin: auto 15px;
}
header h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}
header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
main {
    background: radial-gradient(rgba(60, 38, 55, 0.866), rgb(50, 15, 30));
    width: auto;
    height: 768px;
    padding: 20px;
}
main div{ 
    justify-content: space-between;
}
main div div{
    display: inline-block;
    vertical-align: top;
    font-family: sans-serif;
}
#about {
    width: 480px;
    height: 274px;
    margin-left: 15px;
}
main div div p{
    margin: 17px 10px;
    font-family: sans-serif;

}
footer {
    background: linear-gradient(white, silver);
    width: 950px;
    height: auto;
    text-align: center;
}
.centerTextinLine{
    text-align: center;
}
main h2, h3 {
    background: linear-gradient(rgb(192, 192, 192), #808080, silver);
    color: white;
    font-family: sans-serif;
    padding: 5px;
    margin: 0;    
}
.smallImage{
    width: 20px;
    height: 20px;
}
.mediumImage{
    width: 400px;
    border: 5px solid silver;
}
.mediumBoxes {
    background: linear-gradient(to right, rgb(255, 255, 255),rgb(167, 167, 167));
    color: black;
    width: 300px;
}
.contentImages {
    width: 300px
}
.contentBoxes {
    margin: 20px 0px;
    width: 300px;
    height: 700px;
    display: inline-block;
}